.navbar{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: rgba(1, 0, 0, 0.5);
    /* background: transparent; */
}
.carousel-caption a{
    text-decoration: none;
    color: white;
}
.search{
    width: 950px;
    padding: 6px;
    border-radius: 6px;
}

.carousel-item img{
    height: 80vh;
}
.log{
    background-color: transparent;
    border: none;
    margin-left: 100px;
    margin-right: 20px;
}
.sign{
    background-color: white;
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
}
.carousel-caption{
    /* position: relative; */
    margin-top: -500px;
    align-items: center;
    
    /* color: red; */
}
.footer{
    background-color: gray;
text-align: center;
}
.footer a{
    color: white;
}
body{
    overflow-y: hidden;
}
@media screen and (max-width: 576px){
    html,body{
        overflow: hidden;
    }
    .search{
        display: none;
    }
    .sign{
        display: none;
    }
    .carousel-caption{
        display: contents;
    }
    .carousel-item img{
        height: 68vh;
    }
    .navbar{
        background-color: rgb(0, 0, 0, 0.9);
    }
}